<div mat-dialog-title> Worker Form </div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()" >
<div mat-dialog-content class="content">
    <div class="row" >
        
            <mat-form-field appearance="outline">
              <mat-label>First Nom</mat-label >
              <input matInput placeholder="Ex. muller" formControlName ="workerfirstame" >
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Last Nom</mat-label>
                <input matInput placeholder="Ex. Yuna" formControlName ="workerlastName" >
              </mat-form-field>
            
            <div class="row" >
            
              
               <mat-form-field appearance="outline">
                <mat-label>birthday</mat-label>
                <input matInput [matDatepicker]="birthday" formControlName="workerbirthday" >
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="birthday"></mat-datepicker-toggle>
                <mat-datepicker #birthday></mat-datepicker>
              </mat-form-field> 
              <mat-form-field appearance="outline">
                <mat-label>startdate</mat-label >
                <input matInput [matDatepicker]="picker" formControlName="stardate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              
                    <mat-form-field appearance="outline">
                        <mat-label> salary</mat-label>
                        <input matInput placeholder="Ex. 4000" formControlName ="salary" >
                      </mat-form-field>
                  
            </div>
    </div>
    
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button color="warn" class="button" type="button" type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" class="button" type="submit">{{data ? 'Update': 'Save'}}</button>
</div>
</form>[